*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  background-color: hsl(200, 100%, 30%);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: "Open Sans";
  font-size: 1.3rem;
}